.group-select-hide{
  display: none;
}
.select{
  border: solid 1px rgb(202, 202, 202);
  border-radius: 1px;
  cursor: pointer;
  padding: 4px 5px;
  font-size: 14px;
  width: 100%;
}
.groupSelect{
  width: inherit;
}
.options{
  position: absolute;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #d2d2d2;
  padding: 8px;
  overflow-y: auto;
  max-height: 200px;
  width: inherit;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.group-selection{
  border-radius: 3px;
  background: #e8e8e8;
  padding: 2px 5px;
  display: inline-block;
  margin-right: 15px;
}
.subitem{
  padding-left: 20px;
}

.parent{
  display: inline-block;
  padding-right: 3px;
}
.children{
  display: inline-block;
}
.placeholder{
  color: #8b8b8b;
}
.subitem-label{
  display: inline-block;
  background: #f6f6f6;
  padding: 2px 5px;
  margin: auto 2px;
  border-radius: 3px;
  margin: 1px;
}
.select-arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  margin-top: 15px;
  right: 10px;
  position: absolute;
}